<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561662418249-qtmdh4h0t0avfngtaorte4c3tljpedrf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561662418249-qtmdh4h0t0avfngtaorte4c3tljpedrf</string>
	<key>API_KEY</key>
	<string>AIzaSyBvOelBedX2WC1PCpipo8G4gGY8BYJ80g4</string>
	<key>GCM_SENDER_ID</key>
	<string>561662418249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp</string>
	<key>PROJECT_ID</key>
	<string>advmoapp-quizz-app</string>
	<key>STORAGE_BUCKET</key>
	<string>advmoapp-quizz-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561662418249:ios:5634dec63f482c7bd3ce98</string>
</dict>
</plist>